.al-card {
  font-size: 16px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  transition: all $transition--quick;
  position: relative;
  right: 0;
  bottom: 0;

  &:hover {
    box-shadow: 7px 7px 7px rgba(0,0,0,.3);
    right: 3px;
    bottom: 3px;
  }
}

.al-card__location {
  margin-top: 5px;
  font-size: 13px;
}

.al-location {
  .fa {
    margin-right: 5px;
  }

  color: rgba(0,0,0,.5);
  font-weight: bold;
}

.al-card__header {
  margin-bottom: 5px;
}