.al-grid {
  margin-left: -20px;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.al-grid__item {
  padding-left: 20px;
  padding-bottom: 20px;

  @media(max-width: $media-tablet) {
    width: 100%;
  }
}

.al-grid__item--third {
  width: 33.33%;

  @media(max-width: $media-mobile) {
    width: 100%;
  }
}

.al-grid__item--half {
  width: 50%;

  @media(max-width: $media-mobile) {
    width: 100%;
  }
}

.al-grid__item--two-thirds {
  width: 66.66%;

  @media(max-width: $media-mobile) {
    width: 100%;
  }
}

.al-grid__item--1-4 {
  width: 25%;

  @media(max-width: $media-tablet) {
    width: 50%;
  }

  @media(max-width: $media-mobile) {
    width: 100%;
  }
}

.al-grid__item--3-4 {
  width: 75%;

  @media(max-width: $media-tablet) {
    width: 100%;
  }
}

.al-grid__item--equal {
  vertical-align: top;
  display: -webkit-box;
  display: flex;

  > * {
    width: 100%;
  }
}