.al-main-header {
  background: rgba(0,0,0,0.8);
  position: relative;

  .home & {
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
  }
}

.al-brand-link {
  float: left;
  width: 50px;
  font-family: $font--brand;
  font-size: 40px;
  padding: 5px 0 0;
  line-height: 1;
  margin-right: 50px;
  color: #fff;
  transition: color $transition--slow;

  &:hover {
    color: $color-brand;
  }

  @media(max-width: $media-desktop) {
    margin-right: 10px;
  }

  @media(max-width: $media-tablet) {
    float: none;
    display: inline-block;
    margin-left: 50px;

  }
}

.menu-main-nav-container {
  margin-right: 200px;
  margin-left: 50px;

  @media(max-width: $media-desktop) {
    margin-right: 150px;
  }
}

.al-main-nav {
  padding: 0;
  margin: 0;
  height: 50px;

  @media(max-width: $media-tablet) {
      height: auto;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
      background: #000;
      position: absolute;
      top: 50px;
      left: 0;
    display: none;
  }

  @media(min-width: $media-tablet + 1) {
    display: block !important;
  }

  li {
    display: inline-block;
    height: 100%;
    margin-right: 15px;

    @media(max-width: $media-tablet) {
      display: block;
      height: auto;
      margin-right: 0;
    }
  }

  a {
    height:100%;
    font-size: 16px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 15px 10px 0;
    text-decoration: none;
    transition: all $transition--quick;

    &:hover {
      color: darken(#fff, 30%)
    }

    @media(max-width: $media-desktop) {
      font-size: 14px;
    }

    @media(max-width: $media-tablet) {
      display: block;
      height: auto;
      font-size: 14px;
    }

  }
}

.al-social {
  float: right;
  margin: 10px 0;
  padding: 0;
}

.al-social-item {
  display: inline-block;
  margin-left: 5px;

  a {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding-top: 6px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    text-align: center;

    &:hover {

      &.fa-facebook {
        background: #3b5998;
        border-color: #3b5998;
      }

      &.fa-linkedin {
        background: #287bbc;
        border-color: #287bbc;
      }

      &.fa-flickr {
        background: #ff0084;
        border-color: #ff0084;
      }

      &.fa-envelope {
        background: $color-brand;
        border-color: $color-brand;
      }
    }
  }
}

.al-mobile-nav-trigger {
  font-size: 30px;
  color: #fff;
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0 10px;

  @media(max-width: $media-tablet) {
    display: inline-block;
  }
}

.al-mobile-nav-trigger--active {
  background: #000;
}