.al-post__thumbnail {

  img {
    display: block;
    border: 1px dashed rgba(0,0,0,0.2);
  }
}

.al-post__thumbnail--blog {
  float: left;
  width: 45%;

  @media(max-width: $media-tablet){
    float: none;
    width: 100%;
  }
}

.al-post--blog {
  margin-bottom: 50px;
  padding-right: 20px;
}

.al-post__content {
  margin-left: 48%;
  margin-top: -7px;

  @media(max-width: $media-tablet){
    margin-left: 0;
    margin-top: 10px;
  }
}


.al-post__thumbnail--home {
  margin-bottom: 10px;
}

.al-post__description {
  margin-top: 10px;

  .more-link {
    @extend .al-view-link;
    @extend .al-btn--brand;
    display: block;
  }
}

.al-post__meta {
  font-size: 14px;
  margin-top: 5px;

  a {
    color: grey;
    &:hover {
      text-decoration: underline;
    }
  }
  .fa {
    color: $color-brand;
    margin-right: 3px;
  }

  .post-categories {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  li {
    display: inline-block;
  }
}

.al-post__meta-item {
  display: inline-block;
  margin-right: 20px;
}


.al-post__date {
  color: grey;
  font-size: 14px;
  margin-top: 5px;

  .fa {
    margin-right: 5px;
    color: $color-brand;
  }
}

.al-post__heading {
  float: left;
  width: 60%;

  @media(max-width: $media-mobile) {
    float: none;
    width: 100%;
  }
}

.al-post__blog-link {
  margin-top: 10px;
  float: right;
  border-bottom: 1px solid grey;
  font-size: 13px;
  transition: $transition--quick;

  &:hover {
    border-bottom-color: transparent;

  }
  @media(max-width: $media-mobile) {
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
  }
}

.al-post__lang-trigger {
  border-bottom-style: dotted;
  cursor: pointer;

  .fa {
    margin-right: 5px;
  }
}

.al-post__lang-text {
 color: lighten(#333, 30%)
}