@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Oleo+Script:700|Oswald:400,700);

$font--brand: 'Oleo Script', cursive;
$font--regular: 'Roboto', sans-serif;
$font--fancy: 'Oswald', sans-serif;
$img-path: '../alla/images';

$transition--slow: 1s ease;
$transition--quick: .3s ease;

$color-brand: #f56308;
$color--attention: #2b8ecd;

$media-mobile--xs: 450px;
$media-mobile: 700px;
$media-tablet: 850px;
$media-desktop: 1100px;